body {
    display: flex;
    justify-content: center;
}

.gameBoard {
    padding: 20px;
    border: 5px inset gray;
    display: flex;
    flex-direction: column;
}

.rowNode {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.mapNode {
    margin: 0px;
    padding: 0px;
    width: 40px;
    height: 40px;
}

.wallNode {
    background-color: black;
}

.pathNode {
    background-color: green;
}

.treasureNode {
    background-color: gold;
}

.playerNode {
    background-color: blue;
}